*{
    margin: 0;
    padding: 0;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    margin: 30px 30px 30px 80px;
}

.parent_container {
    display:flex;
    margin-bottom: 50px;
}

.container1 {
    display: flex;
}

.container2 {
    display: flex;
    margin-left: auto;
}

.contin {
    padding: 10px;
}

.filled_box {
    background-color: #483285;
    border-radius: 50px;
    padding: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    text-align: center;
    width: 33vw;
    color: aliceblue;
    font-weight: normal;
}

.filled_box a {
    color: aliceblue;
}

.build_a {
    color: #483285;
    font-size: 3rem;
    width: 50vw;
    margin-bottom: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

p {
    font-size: 1.2rem;
    width: 60vw;
    margin-bottom: 10px;
}

input {
    padding: 10px;
    height: 30px;
    width: 15vw;
    border-radius: 5px;
    border-width: 2px;
    color: #ebebeb;
    border-color: #ebebeb;
    border-style: solid;
    text-decoration: none;
}

.waitlist_button {
    background-color: #483285;
    border-radius: 5px;
    color: aliceblue;
    padding: 10px;
    height: 50px;
    width: 7vw;
    border-radius: 5px;
    border: none;
}

footer {
    margin-top: 100px;
}

.circles {
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 20px;
    gap: 10px;
}

.circles a img {
    margin-top: 10px;
    gap: 10px;
}

.illustration {
    display: flex;
    margin-left: auto;
    height: 350px;
}

.main {
    display: flex;
}